* {
    vertical-align: baseline;
    box-sizing: border-box;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: 'helvetica-neue-regular-webfont';
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    min-width: 1024px;
}
