// color
$red: red;
$dark-blue: #3e3c52;
$basic-blue: #aac6df;
$dark-coffee: #c7966e;
$light-coffee: #f0d5c0;
$shadow-dark: #dbdbdb;
$basic-dark: #9e9da8;
$font-dark: #454c54;

// numbers
$nav-height: 10rem;
$side-width: 30rem;